@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-link {
  @apply relative no-underline tracking-wide;

  &::after {
    content: "";
    @apply absolute bg-[#EAEAEA];
    height: 3px;
    width: 0;
    left: 0;
    bottom: 3px;
    transition: width 0.3s;
  }

  &:hover {
    @apply text-[#EAEAEA];
  }

  &:hover::after {
    width: 100%;
  }
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid red;
}

.mac:hover{
  background: #DB4444;
  transition: 0.6s ease-in-out;
  fill: white;
}

.index{
  position: absolute;
  top: 45%;
  left: 6%;
  transition: 0.5s ease-in-out;
}

.dash:hover .index{
  position: absolute;
  top: 5%;
  left: 6%;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.way:hover .indexes{
  position: absolute;
  top: 10%;
  left: 8%;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.indexes{
  position: absolute;
  top: 60%;
  left: 8%;
  transition: 0.5s ease-in-out;
}

.pss{
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.pss:hover{
  transform: scale(0.9);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.shas{
  position: absolute;
  top: 74%;
  left: 6%;
  transition: 0.5s ease-in-out;
}

.owe:hover .shas{
  position: absolute;
  top: 40%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.abs{ 
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pee{
  font-family: Helvetica;
}

.mac:hover .svg path{
  stroke: white;
}

.mac:hover .pop{
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.jbl{
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.jbl:hover{
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s ease-in-out;
}

.sea{
  background-image: url(./Images/blurBg.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.sam:hover .add{
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.pop{
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
  backdrop-filter: blur(100px);
}

.mack{
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.mack:hover{
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s ease-in-out;
}